:root {
	--c-bg-default: #2d2221;
	--c-bg-danger: #7e0011;
	--c-danger: #9f0000;
	--c-primary: #fff;
	--c-secondary: #242424;

	--spacing-0: 8px;
	--spacing-1: 16px;
	--spacing-2: 24px;
	--spacing-3: 32px;
}
